<!--mis tiendas-->
<% if user_signed_in? %>
    <% if current_user.role == 'vendor' %>
        <h2>Mis tiendas</h2>
        <table>
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>descripci贸n</th>
                    <th>direcci贸n</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%= render @my_stores %>
            </tbody>
        </table>
    <% end %>
<% end %>

<% if current_user.role == 'client' %>
    <h4>tienes una impresora 3d y sabes usarla?</h4>
<% end %>
<%= link_to 'Crea tu tienda', new_store_path  %>

<!--mapa-->
<%# <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> %>
<!--lista de tiendas activas-->
<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>descripci贸n</th>
            <th>direcci贸n</th>
        </tr>
    </thead>
    <tbody>
        <%= render @stores %>
    </tbody>
</table>

<script>
    // handler = Gmaps.build('Google');
    // handler.buildMap({
    //     provider: {
    //     disableDefaultUI: true
    //     // pass in other Google Maps API options here
    //     },
    //     internal: {
    //     id: 'map'
    //     }
    // },
    // function(){
    //     markers = handler.addMarkers([
    //     {
    //         "lat": 0,
    //         "lng": 0,
    //         "picture": {
    //         "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
    //         "width":  32,
    //         "height": 32
    //         },
    //         "infowindow": "hello!"
    //     }
    //     ]);
    //     handler.bounds.extendWith(markers);
    //     handler.fitMapToBounds();
    // }
    // );
</script>
<script>
    // handler = Gmaps.build('Google');
    // handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    //     markers = handler.addMarkers(<%=raw @hash.to_json %>);
    // });
</script>
